@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    background: black;
    color: white;
    text-align: center;
    font-weight: bolder;
}

* {
  padding: 0;
  margin: 0;
}

/* General Layout */
#header {
  background: #E8EAEF;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.header-heading {
  padding: 10px;
}

.header-home {
  text-decoration: none;
  color: black;
}

.menu-bars {
  position: absolute;
  right:0;
  margin: auto;
  padding: 10px;
  
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.header-menu {
  width: 25px;
  height: 25px;
}

.nav-menu {
  background-color: #E8EAEF;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1%;
  border-radius: 4px;
}

nav-menu-items {
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.nav-offmenu {
  background-color: yellow;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

navbar-toggle {
  width: 100%;

}

ul li::marker {
  color: #E8EAEF;
}

#footer {
  width: 100%;
  background: #E8EAEF;
  display: flex;
  flex-direction: column;
}

.footer-item {
  font-size: 14px;
  margin: 5px auto;
}

.footer-link {
  text-decoration: none;
  color: #4C5DAA;
}

.footer-link:hover {
  color: lightslategray;
}

.footer-name {
  font-weight: bold;
}

/* Court Bookings */
#profile {
    padding: 10px 15px;
    background: #4C5DAA;
    min-height: 550px;
}

.large-heading {
  font-size: 18px;
  color: white;
}

.profile-field {
  margin: 10px 10px;
  padding: 10px 15px;
  height: 50px;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: row;
}

.profile-button {
  height: 20px;
  width: 25px;
  margin: auto 0;
}

.profile-confirm {
  margin-top: 5px;
  height: 20px;
  width: 50px;
}

.update-rating {
  right: 0;
  margin: 0 0 auto auto;
  width: 50px;
}

#users-container {
  background: #4C5DAA;
  padding: 10px 15px;
}

.user-block {
  display: flex;
  flex-direction: row;
  font-size: 12px;

  height: 30px;
  padding: 10px 10px 0 10px;
  margin: 10px;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;

  text-decoration: none;
  color: black;
}

.user-block:hover {
  background-color: #dcd5d5;
}

.content-short {
  height: 20px;
  padding: 5px 5px 0 5px;
  font-weight: bold;
}

.user-item {
  height: 20px;
  width: 100px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

#home-container {
  background: #4C5DAA;
  padding: 10px;
  min-height: 500px;
}

.home-button {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
  background: #b4b3b3;;
  width: 400px;
  margin: auto;
}

.home-button:hover {
  background: #c1c1c2;
}

.bookings-empty {
  font-size: 12px;
}

.bookings-welcome {
  height: 40px;
  width: 45%;
  padding: 10px;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookings-available {
  height: 40px;
  width: 45%;
  padding: 10px;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;
  text-decoration: none;
  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookings-available:hover {
  background-color: #dcd5d5;
}

.content-right {
  right: 0;
  margin-left: auto;
}

.home-headerrow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home-heading {
  font-weight: bold;
  font-size: 12px;
}

.bookings-counter {
  width: 42px;
  background: #4C5DAA;
  top: 0;
  padding: 5px;
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
  color: white;

  border: 2px solid #e3e3e3;
  border-radius: 5px;
}

.bookings-current {
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;
}

.bookings-item {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 5px;
  color: white;
  background: #4C5DAA;
  border: 2px solid #e3e3e3;
  text-decoration: none;
}

.bookings-item:hover {
  background: #768CDD;
}

.bookings-info {
  display: flex;
  flex-direction: row;

  font-weight: bold;
}

.bookings-data {
  margin: auto;
}

.bookings-players {
  display: flex;
  flex-direction:column;
}

.bookings-player {
  margin: 2px auto;
}

.tournaments-item {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 5px;
  background: #4C5DAA;
  border: 2px solid #e3e3e3;
}

.tournaments-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 7px 0 0 10px;
}

.tournament-header {
  display: flex;
  flex-direction: row;
}

.button-delete {
  right: 0;
  margin-left: auto;
  padding: 2px 4px;
  background: lightcoral;
}


/* Login */
.userauth-container {
  min-height: 500px;
}
.login-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


  grid-column: 1 / 5;
  grid-row: 1;
}

.login-image {
  display: none;
}

.login-box {
  width: 70%;
  margin: 5%;
  padding: 4%;
}

.login-heading {
  text-align: center;
  padding-bottom: 4%;
}

.login-input {
  height: 27px;
  width: 225px;
  display: block;
  margin: 4% auto;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;
}

.login-department {
  height: 27px;
  width: 233px;
  display: block;
  margin: 4% auto;
  border: 2px solid #e3e3e3;
  background-color: #f7f7f7;
}

.login-button {
  height: 27px;
  width: 225px;
  display: block;
  margin: 5% auto;
  text-align: center;
  color: white;
}

.login-submit {
  background-color: #0092FF;
}

.login-submit:hover {
  background: #6fbdf7;
}

.login-forgot {
  background-color: #FF395A;
}

.login-forgot:hover {
  background-color: #A31A38;
}

.login-orbox {
  width: 175px;
  height: 25px;
  margin: auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.login-line {
  height: 10px;
  width: 75px;
  border-bottom: 2px solid #8c8c8c;
}

.login-ortext {
  margin: 0 4%;
  color: #8c8c8c
}

.login-error {
  display: block;
  margin: 1% auto;
  width: 90%;
  padding: 1%;
  color: red;
}

/* Form */
.form {
  padding: 10px;
  margin:10px;
  border: 3px solid #E8EAEF;
  border-radius: 5px;
  background: #4C5DAA;
  color: white;
}

.title {
  font-weight: bolder;
  font-size: x-large;
}

.form-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  margin-top: 0.5rem;
}

.form-input {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.form-number {
  font-weight: bold;
  text-align: center;
  width: 40px;
  margin-right: 5px;
}

.form-submit {
  margin-top: 25px;
  width: 190px;
}

.form-delete {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 5px;

  width: 200px;
  background: salmon;
}

/* Court Bookings */
#booking-container {
    background: #4C5DAA;
}

.date-selector {
    display: flex;
    flex-direction: row;
    padding: 10px;

    color: white;
}

#select-left {
    left:0;
    margin: auto;
}

#select-right {
    right:0;
    margin: auto;
}
.date-header {
    font-weight: bolder;
}

#court-header {
    display: flex;
    flex-direction: row;
    color: white;

}

.court-heading {
    margin: auto;
    font-weight:bolder
}

#court-schedule {
}

.schedule-row {
    display: flex;
    flex-direction: row;

    height: 120px;
    background: #E8EAEF;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 2px;
}

.cell {
    background: #2042BA;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 2px;
}

.cell-time {
    width: 28%;
    padding-top: 50px;
    font-size:12px;
    text-align: center;
    font-weight: bolder;
}

.cell-book {
    width: 28%;
    padding-top: 50px;
    font-size:9px;
    text-align: center;
}

.cell-book:hover {
    background: #768CDD;
}

.court-link {
  display:block;
  color: white;
  text-decoration: none;
}

.cell-booked {
    width: 28%;
    padding-top: 5px;
    border-radius: 3px;
    margin: 2px;

    font-size:9px;
    text-align: center;
    background: #122A84;
    color: white;
}

.cell-booked:hover {
  background: #E8EAEF;
  color: black;
}

.name-box {
    height: 68px;
}

.court-delete {
  display: block;
  margin: auto;
  margin-top: 13px;
  border-radius: 4px;

  width: 100%;
  height: 30px;
  background: lightcoral;
  font-size: 10px;
}

.player-name {
  font-size:12px;
}

/* TOURNAMENT */
.tournament-container {
  padding: 10px;
  min-height: 550px;
}

.tournament {
  display: flex;
  flex-direction: row;
  padding: 30px;
  overflow-x: scroll;
}

.tournament-round {
  margin: auto 0 auto 5px;
}

.tournament-match {
  height: 60px;
  width: 200px;
  background: #00C772;
  border: 3px solid #e8e8e8;
  font-size: 12px;
}

.tournament-empty {
  height: 60px;
  width: 200px;
  background: lightgray;
  border: 3px solid #e8e8e8;
}

.match-info {
  padding: 3px 10px 0 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.match-team {
  padding: 0 10px 0 20px;
  display: flex;
  flex-direction: row;

}

.match-names {
  width:100px;
  height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.match-score {
  right:0;
  margin-left: auto;
  font-weight: normal;
  text-align: right;
}

.tournament-connect {
  border-right: 6px solid #5590EC;

}
.tournament-space6 {
  min-height:35px;
}

.tournament-space5 {
  min-height:136px;
}

.tournament-space4 {
  min-height: 335px;
}

.tournament-space3 {
  min-height: 740px;
}

.tournament-space2 {
  min-height: 1525px;
}

.box-score {
  display: inline-block;
  width: 15px;
  margin: 0 1px;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 285px;
  height: 100%;
  left: 5%;
  /* background: rgba(0, 0, 0, 0.25); */
}

.modal-content {
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  width: 240px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 12px;
}

.modal-close {
  float: right;
}

.modal-remove {
  float: left;
  margin-right: 15px;
  background: red;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.modal-remove:hover {
  background: lightcoral;
}

.form-score {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tournament-button {
  text-decoration: none;
  color: white;
  background: green;
  display: block;
  height: 25px;
  width: 55px;
  padding: 5px 0 0 15px;
  font-size: 12px;
}

.tournament-button:hover {
  background: limegreen;
}

.rr-standings {
  margin: 10px;
  padding: 20px;
  background: #e8e8e8;
  border: 5px solid #f0f0f0; 
  text-align: center;
}

.standings-blocked {
  background: black;
}

.standings-value {
  border: 2px solid black;
}

.roundrobin-container {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
}

.roundrobin-standings {
  height: 200px;
  margin: auto;
}

.roundrobin-match {
  width: 220px;
  height: 130px;
  margin: 20px 5px;
  background: #00C772;
  border: 5px solid #f0f0f0;

  display: flex;
  flex-direction: column;
}

.roundrobin-matchup {
  margin: 5px auto;
}

.roundrobin-dateloc {
  margin: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.roundrobin-location {
  font-weight: bold;
}

.roundrobin-date {
  right: 0;
  margin-left: auto;
}

.roundrobin-scoreset {
  margin: 2px auto;
  display: flex;
  flex-direction: row;

  font-size: 12px;
}

.roundrobin-score {
  width: 25px;
  margin: 0 5px;
  text-align: center;
}

@media only screen and (min-width: 885px)
{
  .bookings-available {
    width: 25%;
  }

  .bookings-welcome {
    width: 75%;
  }
  
  .home-heading {
    font-size: 16px;
  }

  .login-image {
    width: 350px;
    display: block;
    padding: 2%;
  }

  .login-box {
    width: 350px;
    margin: 2%;
  }

  .cell-time {
    font-size: 16px;
  } 

  .cell-book {
    font-size: 14px;
  }

  .form {
    width: 550px;
    margin: 25px auto;
  }
}