@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    background: black;
    color: white;
    text-align: center;
    font-weight: bolder;
}

/* GENERAL */
* {
    padding: 0;
    margin: 0;
}

#booking-container {
    background: #4C5DAA;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#date-box {
    grid-row: 1;
    grid-column: 1 / 6;
}

.date-selector {
    display: flex;
    flex-direction: row;
    padding: 10px;

    color: white;
}

#select-left {
    left:0;
    margin: auto;
}

#select-right {
    right:0;
    margin: auto;
}
.date-header {
    font-weight: bolder;
}

#court-header {
    grid-row: 2;
    grid-column: 1 / 6;
    
    display: flex;
    flex-direction: row;
    color: white;

}

.court-heading {
    margin: auto;
    font-weight:bolder
}

#court-schedule {
    grid-row: 3;
    grid-column: 1 / 6;
}

.schedule-row {
    display: flex;
    flex-direction: row;

    height: 120px;
    background: #E8EAEF;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 2px;
}

.cell {
    background: #2042BA;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 2px;
}

.cell-time {
    width: 28%;
    padding-top: 50px;
    font-size:12px;
    text-align: center;
    font-weight: bolder;
}

.cell-book {
    width: 28%;
    padding-top: 50px;
    font-size:9px;
    text-align: center;
}

.cell-book:hover {
    background: #768CDD;
}

.court-link {
    color: white;
    text-decoration: none;
}

.cell-booked {
    width: 28%;
    padding-top: 5px;

    font-size:9px;
    text-align: center;
    background: #122A84;
    color: white;
}

.name-box {
    margin-bottom: 20px;
}

.link-button {
    margin: 5px auto;
    background: gray;
    height: 15px;
    width: 40px;
}

.link-button:hover {
    background: lightgray;
}